<script lang="ts">
  import Chip, { Set, Text } from "@smui/chips";
  import IconButton from "@smui/icon-button";
  import Paper from "@smui/paper";
  import BlankPage from "../components/BlankPage.svelte";
  import ConfirmModal from "../components/ConfirmModal.svelte";
  import EditLabelModal from "../components/EditLabelModal.svelte";
  import Pagination from "../components/Pagination.svelte";
  import {
    NoteLabels,
    NotesList,
    deleteNoteLabel,
    searchQuery,
    updateNoteLabel,
  } from "../state/notes";
  import { router } from "../state/router";
  import { notesPerPage } from "../state/settings";
  import { L } from "../utils/locales";
  import { scrollToBottom } from "../utils/pageUtils";

  /* State */
  let currentPage = 1;

  const displayedLabels: {
    full: string[];
    sliced: string[];
  } = {
    full: [],
    sliced: [],
  };

  const modal = {
    selectedChip: null,
    delete: {
      show: false,
      open(chip: string) {
        modal.delete.show = true;
        modal.selectedChip = chip;
      },
      cancel() {
        modal.delete.show = false;
        modal.selectedChip = null;
      },
      confirm() {
        if (modal.selectedChip) {
          deleteNoteLabel(modal.selectedChip);
        }
        modal.delete.show = false;
      },
    },
    edit: {
      show: false,
      open(chip: string) {
        modal.edit.show = true;
        modal.selectedChip = chip;
      },
      cancel() {
        modal.edit.show = false;
        modal.selectedChip = null;
      },
      confirm(e: { detail: { oldValue: string; newValue: string } }) {
        if (modal.selectedChip) {
          updateNoteLabel(e.detail.oldValue, e.detail.newValue);
        }
        modal.delete.show = false;
      },
    },
  };

  $: getLabeledNoteCount = (chip: string) => {
    const _count = $NotesList.filter((_note) =>
      _note.labels.includes(chip)
    ).length;

    return `${$L.labels.labeledNotes} ${_count}`;
  };

  $: displayPagination = () => {
    return displayedLabels.full.length > $notesPerPage;
  };

  $: pagination = () => {
    return {
      first() {
        return currentPage === 1;
      },
      before() {
        return currentPage === 1;
      },
      next() {
        return currentPage * $notesPerPage >= displayedLabels.full.length;
      },
      last() {
        return (
          currentPage === Math.ceil(displayedLabels.full.length / $notesPerPage)
        );
      },
    };
  };

  /* Actions */
  function searchByLabel(chip: string) {
    $searchQuery = chip;
    router.setPath("");
  }

  const page = {
    first() {
      currentPage = 1;
      scrollToBottom();
    },
    before() {
      if (currentPage > 1) {
        currentPage = currentPage - 1;
        scrollToBottom();
      }
    },
    next() {
      if (!pagination().next()) {
        currentPage = currentPage + 1;
      }
    },
    last() {
      currentPage = Math.ceil(displayedLabels.full.length / $notesPerPage);
    },
  };

  /* Side-effects */

  $: if ($NoteLabels.length) {
    const _labels = $NoteLabels;
    displayedLabels.full = _labels;
    displayedLabels.sliced = _labels.slice(
      (currentPage - 1) * $notesPerPage,
      $notesPerPage * currentPage
    );
  }
</script>

{#if displayedLabels.full.length === 0}
  <BlankPage title={$L.labels.noLabels} content={$L.labels.noLabelsText} />
{:else}
  <div class="page labels-page">
    <Set chips={displayedLabels.sliced} let:chip nonInteractive>
      <Paper
        on:click={() => {
          searchByLabel(chip);
        }}
      >
        <Chip {chip}>
          <Text>{chip}</Text>
        </Chip>

        <div class="actions">
          <IconButton
            class="material-icons"
            on:click={(e) => {
              e.stopPropagation();
              modal.delete.open(chip);
            }}
          >
            delete
          </IconButton>

          <IconButton
            class="material-icons"
            on:click={(e) => {
              e.stopPropagation();
              modal.edit.open(chip);
            }}
          >
            edit
          </IconButton>
        </div>
        <p>{getLabeledNoteCount(chip)}</p>
      </Paper>
    </Set>

    {#if displayPagination()}
      <Pagination
        {currentPage}
        disabledButtons={pagination()}
        on:first={page.first}
        on:before={page.before}
        on:next={page.next}
        on:last={page.last}
      />
    {/if}
  </div>
{/if}

<ConfirmModal
  title={$L.labels.deleteTitle}
  content={`${$L.labels.deleteContent} ${modal.selectedChip}`}
  open={modal.delete.show}
  on:cancel={modal.delete.cancel}
  on:confirm={modal.delete.confirm}
/>

<EditLabelModal
  open={modal.edit.show}
  editedLabel={modal.selectedChip}
  on:cancel={modal.edit.cancel}
  on:confirm={modal.edit.confirm}
/>

<style>
  .page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-inline: auto;
    max-width: calc(45rem - 2 * var(--main-padding));
    width: 100%;
  }

  .labels-page :global(.smui-paper) {
    --paper-padding: 12px;
    align-items: center;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: calc(100vw - 2 * var(--main-padding) - 2 * var(--paper-padding));
    padding: var(--paper-padding);
    row-gap: 0.5rem;
  }

  .labels-page :global(.smui-paper *) {
    cursor: pointer;
  }

  .labels-page :global(.mdc-chip-set) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .labels-page :global(.mdc-chip) {
    max-width: calc(
      100vw - 4 * var(--main-padding) - 32px - 2 * var(--paper-padding)
    );
    width: fit-content;
  }

  .labels-page :global(.mdc-chip__text) {
    display: block;
    max-width: calc(
      100vw - 6 * var(--main-padding) - 32px - 2 * var(--paper-padding)
    );
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    grid-row: span 2;
  }
</style>
