<script lang="ts">
  import Chip, { Set, Text } from "@smui/chips";
  import Paper, { Content } from "@smui/paper";
  import BlankPage from "../components/BlankPage.svelte";
  import Link from "../components/Link.svelte";
  import Pagination from "../components/Pagination.svelte";
  import {
    NotesList,
    getNoteByArchivedState,
    mappedNotes,
    noteGroup,
    searchQuery,
  } from "../state/notes";
  import {
    dateTimeFormat,
    inverseSortOrder,
    notesPerPage,
    sortBy,
  } from "../state/settings";
  import { formatDate } from "../utils/dateTime";
  import { L, getLocaleString } from "../utils/locales";
  import { scrollToBottom } from "../utils/pageUtils";
  import type { NoteObject } from "../utils/types";

  /* State */
  let currentPage = 1;
  const displayedNotes: {
    _archived: NoteObject[];
    _notes: NoteObject[];
    full: NoteObject[];
    sliced: NoteObject[];
  } = {
    _archived: [],
    _notes: [],
    full: [],
    sliced: [],
  };
  const userLocale = getLocaleString();

  $: displayPagination = () => {
    return displayedNotes.full.length > $notesPerPage;
  };

  /** Returns `true` for pagination buttons which should be disabled */
  $: pagination = () => {
    return {
      first() {
        return currentPage === 1;
      },
      before() {
        return currentPage === 1;
      },
      next() {
        return currentPage * $notesPerPage >= displayedNotes.full.length;
      },
      last() {
        return (
          currentPage === Math.ceil(displayedNotes.full.length / $notesPerPage)
        );
      },
    };
  };

  $: hasNotesInGroup = (group: "archived" | "notes") => {
    if (group === "archived") {
      return !!displayedNotes._archived.length;
    }
    if (group === "notes") {
      return !!displayedNotes._notes.length;
    }

    return false;
  };

  /* Actions */
  const page = {
    first() {
      currentPage = 1;
      scrollToBottom();
    },
    before() {
      if (currentPage > 1) {
        currentPage = currentPage - 1;
        scrollToBottom();
      }
    },
    next() {
      if (!pagination().next()) {
        currentPage = currentPage + 1;
      }
    },
    last() {
      currentPage = Math.ceil(displayedNotes.full.length / $notesPerPage);
    },
  };

  function clearSearch() {
    $searchQuery = "";
  }

  /* Side-effects */

  $: if ($noteGroup || $searchQuery) {
    currentPage = 1;
  }

  $: if ($noteGroup || $NotesList || $searchQuery) {
    const _mappedNotes = mappedNotes(
      $inverseSortOrder,
      $sortBy,
      getLocaleString()
    );
    displayedNotes.full = _mappedNotes;
    displayedNotes.sliced = _mappedNotes.slice(
      (currentPage - 1) * $notesPerPage,
      $notesPerPage * currentPage
    );
    displayedNotes._archived = getNoteByArchivedState("archived");
    displayedNotes._notes = getNoteByArchivedState("notes");
  }
</script>

{#if displayedNotes.full.length === 0}
  {#if hasNotesInGroup($noteGroup)}
    <BlankPage
      title={$L.noteList.noNotesFound}
      action={$L.noteList.noNotesFoundAction}
      on:handleAction={clearSearch}
    />
  {:else if $noteGroup === "notes"}
    <BlankPage title={$L.noteList.noNotes} content={$L.noteList.noNotesText} />
  {:else}
    <BlankPage
      title={$L.noteList.noArchivedNotes}
      content={$L.noteList.noArchivedNotesText}
    />
  {/if}
{:else}
  <div class="page">
    <section class="note-list">
      {#each displayedNotes.sliced as note}
        <Link href="note_{note.uuid}">
          <Paper>
            <article class="note-entry">
              <div class="note-grid">
                <h2 class="text-lg text-ellipsed grid-title">
                  {note.title.slice(0, 100)}
                </h2>

                {#if note.pinned}
                  <span class="material-icons grid-icon">star</span>
                {/if}

                <p class="text-sm text-opaque grid-date">
                  {formatDate({
                    date: note.createdAt,
                    relative: $dateTimeFormat,
                    locale: userLocale,
                  })}
                </p>
              </div>

              <Content>
                {#if note.content.length}
                  <p class="text-md text-ellipsed">
                    {note.content.split("\n")[0]?.slice(0, 100)}
                  </p>
                {:else}
                  <p class="text-md text-ellipsed italic">Empty note...</p>
                {/if}

                {#if note.labels}
                  <Set chips={note.labels.slice(0, 4)} let:chip nonInteractive>
                    <Chip {chip}>
                      <Text>{chip}</Text>
                    </Chip>
                  </Set>
                {/if}
              </Content>
            </article>
          </Paper>
        </Link>
      {/each}
    </section>

    {#if displayPagination()}
      <Pagination
        {currentPage}
        disabledButtons={pagination()}
        on:first={page.first}
        on:before={page.before}
        on:next={page.next}
        on:last={page.last}
      />
    {/if}
  </div>
{/if}

<style>
  .page {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .note-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .note-list :global(.smui-paper) {
    box-sizing: border-box;
    height: 100%;
  }

  .note-list :global(.smui-paper.smui-paper--raised.smui-paper--elevation-z1) {
    transition: 0.3s box-shadow;
  }

  .note-list
    :global(.smui-paper.smui-paper--raised.smui-paper--elevation-z1:hover) {
    box-shadow:
      0px 3px 3px -2px rgba(0, 0, 0, 0.2),
      0px 3px 4px 0px rgba(0, 0, 0, 0.14),
      0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  }

  .note-list :global(.mdc-chip) {
    max-width: 100%;
    overflow: hidden;
  }
  .note-list :global(.mdc-chip > span) {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media (width > 67.5rem) {
    .note-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .note-list :global(.link) {
      max-width: calc(50vw - 2 * var(--main-padding));
    }
  }

  @media (width > 100rem) {
    .note-list {
      grid-template-columns: 1fr 1fr 1fr;
      margin-inline: auto;
      max-width: calc(100rem - 2 * var(--main-padding));
      min-width: 98rem;
    }

    .note-list :global(.link) {
      max-width: calc(98.5rem / 3 - 10px);
    }
  }

  .note-entry {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .text-ellipsed {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
  }

  .note-grid {
    display: grid;
    gap: 0.25rem;
    grid-auto-flow: row;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "grid-title grid-icon"
      "grid-date grid-date";
    grid-template-rows: 1fr 1fr;
  }

  .grid-title {
    grid-area: grid-title;
  }

  .grid-icon {
    grid-area: grid-icon;
  }

  .grid-date {
    grid-area: grid-date;
  }
</style>
