<script lang="ts">
  import Textfield from "@smui/textfield";
  import { onDestroy, onMount } from "svelte";
  import { get } from "svelte/store";
  import { nav } from "../state/navbar";
  import { getNoteById, updateNote } from "../state/notes";
  import { dateTimeFormat } from "../state/settings";
  import { formatDate } from "../utils/dateTime";
  import { Debouncer } from "../utils/interval";
  import { L, getLocaleString } from "../utils/locales";
  import type { NoteObject } from "../utils/types";
  import { generateUUID } from "../utils/uuid";

  /* State */
  let noteData: NoteObject = {
    title: "",
    content: "",
    pinned: false,
    labels: [],
    archived: false,
    uuid: generateUUID(),
    deleted: false,
    createdAt: new Date().valueOf(),
    updatedAt: new Date().valueOf(),
    viewedAt: new Date().valueOf(),
  };

  /** Initial data, used to check if updatedAt should be modified */
  let initialNoteData: NoteObject = noteData;

  $: initialCreatedAt = () => {
    return formatDate({
      date: noteData.createdAt,
      relative: $dateTimeFormat,
      locale: getLocaleString(),
    });
  };

  const noteUpdate = new Debouncer(_updateNote);

  /* Side-effects */
  function _updateNote(isDestroyed?: boolean) {
    updateNote(noteData, initialNoteData, isDestroyed);
  }

  $: if ({ ...noteData }) noteUpdate.run();

  /* LCH */
  onMount(() => {
    const _noteData = getNoteById(get(nav.noteID));
    noteData = _noteData ?? { ...noteData, uuid: get(nav.noteID) };
    initialNoteData = { ...noteData };

    if (!_noteData) {
      _updateNote();
    } else {
      noteData.viewedAt = new Date().valueOf();
    }
  });

  onDestroy(() => {
    noteUpdate.clear();
    _updateNote(true);
  });
</script>

<article class="page">
  <header class="note-header">
    <Textfield
      bind:value={noteData.title}
      label={$L.note.title}
      class="title-input"
      variant="outlined"
    />

    <p class="text-sm text-opaque">
      {initialCreatedAt()}
    </p>
  </header>

  <div class="note-main">
    <Textfield
      helperLine$style="width: 100%;"
      textarea
      label={$L.note.note}
      class="content"
      bind:value={noteData.content}
      input$resizable={false}
    />
  </div>
</article>

<style>
  .page {
    display: grid;
    flex-grow: 1;
    gap: 1rem;
    grid-template-rows: auto 1fr;
    overflow-y: hidden;
  }

  @media (width > 75rem) {
    .page {
      margin-inline: auto;
      max-width: calc(75rem - 2 * var(--main-padding));
      width: 100%;
    }
  }

  @media (width > 120rem) {
    .page {
      max-width: calc(62.5vw - 2 * var(--main-padding));
    }
  }

  .note-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
  }

  .note-header :global(.title-input),
  .note-header :global(.title-input:focus-visible) {
    font-size: var(--text-xl);
  }

  .note-header :global(.mdc-text-field .mdc-floating-label) {
    top: 40%;
  }

  .note-main :global(.content),
  .note-main :global(span),
  .note-main :global(.mdc-notched-outline) {
    height: calc(100% - 2px);
    width: 100%;
  }

  .note-main :global(.content textarea) {
    font-size: var(--text-md);
    height: calc(100% - 32px);
    width: 100%;
  }
</style>
