<script lang="ts">
  import List, { Graphic, Item, Separator, Subheader, Text } from "@smui/list";
  import Paper from "@smui/paper";
  import Select, { Option } from "@smui/select";
  import AboutModal from "../components/AboutModal.svelte";
  import ConfirmModal from "../components/ConfirmModal.svelte";
  import SelectionDialog from "../components/SelectionDialog.svelte";
  import { deleteAllNotes, exportNotes } from "../state/notes";
  import {
    appTheme,
    baseFontSize,
    dateTimeFormat,
    notesPerPage,
    setDateTimeFormat,
    setFontSize,
    setPageSize,
    setTheme,
  } from "../state/settings";
  import { formatDate } from "../utils/dateTime";
  import { L, SupportedLocales, changeLocale } from "../utils/locales";
  import type {
    AppSettingsType,
    NoteExportFormat,
    NotesPerPage,
  } from "../utils/types";

  /* State */
  let theme = $appTheme;
  let locale = $L._locale;
  let fontSize: AppSettingsType["baseFontSize"] = $baseFontSize;
  let pageSize: NotesPerPage = `${$notesPerPage}`;
  let dateFormat: AppSettingsType["dateTimeFormat"] = $dateTimeFormat;
  const supportedLocales = SupportedLocales();
  const fontSizes = ["small", "normal", "large", "extraLarge"];
  const pageSizes = ["10", "25", "50", "100"];
  const dateTimeFormats: AppSettingsType["dateTimeFormat"][] = [
    "absolute",
    "relative",
  ];
  let _renderKey = 0;

  const modals = {
    deleteAll: {
      show: false,
      confirm() {
        deleteAllNotes();
        modals.deleteAll.show = false;
      },
      cancel() {
        modals.deleteAll.show = false;
      },
      open() {
        modals.deleteAll.show = true;
      },
    },
    exportAll: {
      show: false,
      options: [
        {
          value: "json",
          text: "JSON",
        } as const,
        {
          value: "text",
          text: "Plain Text",
        } as const,
        {
          value: "markdown",
          text: "Markdown",
        } as const,
      ],
      confirm(e: { detail: NoteExportFormat }) {
        exportNotes(e.detail);
        modals.exportAll.show = false;
      },
      cancel() {
        modals.exportAll.show = false;
      },
      open() {
        modals.exportAll.show = true;
      },
    },
    about: {
      show: false,
      open() {
        modals.about.show = true;
      },
      close() {
        modals.about.show = false;
      },
    },
  };

  $: getTimeString = () => {
    return {
      absolute: `${$L.settings.absolute} (${formatDate({
        date: new Date(0),
        relative: false,
        locale: $L._locale,
      })})`,
      relative: `${$L.settings.relative} (${formatDate({
        date: new Date(0),
        relative: true,
        locale: $L._locale,
      })})`,
    };
  };

  /* Side-effects */
  $: if (theme !== $appTheme) {
    setTheme(theme);
  }

  $: if (locale !== $L._locale) {
    changeLocale(locale);
    setTimeout(() => {
      _renderKey++;
    }, 0);
  }

  $: if (fontSize !== $baseFontSize) {
    setFontSize(fontSize);
  }

  $: if (`${pageSize}` !== `${$notesPerPage}`) {
    setPageSize(parseInt(pageSize) as AppSettingsType["notesPerPage"]);
  }

  $: if (dateFormat) {
    if ($dateTimeFormat !== dateFormat) {
      setDateTimeFormat(dateFormat);
    }
  }
</script>

<div class="page settings-page">
  <Paper>
    <List>
      <Subheader tag="p">{$L.settings.interface}</Subheader>

      {#key _renderKey}
        <li class="item">
          <Select bind:value={theme} label={$L.settings.theme}>
            <Option value="system">{$L.settings.systemTheme}</Option>
            <Option value="dark">{$L.settings.darkTheme}</Option>
            <Option value="light">{$L.settings.lightTheme}</Option>
          </Select>
        </li>

        <li class="item">
          <Select bind:value={locale} label={$L.settings.language}>
            {#each Object.keys(supportedLocales) as locale}
              <Option value={locale}>{supportedLocales[locale]}</Option>
            {/each}
          </Select>
        </li>

        <li class="item">
          <Select bind:value={fontSize} label={$L.settings.fontSize}>
            {#each fontSizes as fs}
              <Option value={fs}>{$L.settings[fs]}</Option>
            {/each}
          </Select>
        </li>

        <li class="item">
          <Select bind:value={pageSize} label={$L.settings.pageSize}>
            {#each pageSizes as ps}
              <Option value={ps}>{ps}</Option>
            {/each}
          </Select>
        </li>

        <li class="item">
          <Select bind:value={dateFormat} label={$L.settings.timeFormat}>
            <Option value={dateTimeFormats[0]}
              >{getTimeString().absolute}</Option
            >
            <Option value={dateTimeFormats[1]}
              >{getTimeString().relative}</Option
            >
          </Select>
        </li>
      {/key}

      <Separator />

      <Subheader tag="p">{$L.settings.data}</Subheader>

      <Item href="javascript:void(0)" on:click={modals.exportAll.open}>
        <Graphic class="material-icons" aria-hidden="true">save</Graphic>
        <Text class="text-md" tag="p">{$L.settings.exportAll}</Text>
      </Item>

      <Item href="javascript:void(0)" on:click={modals.deleteAll.open}>
        <Graphic class="material-icons" aria-hidden="true">close</Graphic>
        <Text class="text-md" tag="p">{$L.settings.clearAllData}</Text>
      </Item>

      <Separator />

      <Subheader tag="p">{$L.settings.about}</Subheader>

      <Item href="javascript:void(0)" on:click={modals.about.open}>
        <Graphic class="material-icons" aria-hidden="true">info</Graphic>
        <Text class="text-md" tag="p">{$L.settings.about}</Text>
      </Item>
    </List>
  </Paper>
</div>

<ConfirmModal
  title={$L.settings.deleteAllTitle}
  content={$L.settings.deleteAllContent}
  open={modals.deleteAll.show}
  on:cancel={modals.deleteAll.cancel}
  on:confirm={modals.deleteAll.confirm}
/>

<SelectionDialog
  title={$L.sidebar.selectAFileFormat}
  open={modals.exportAll.show}
  options={modals.exportAll.options}
  description={$L.settings.exportAllDescription}
  on:cancel={modals.exportAll.cancel}
  on:confirm={modals.exportAll.confirm}
/>

<AboutModal open={modals.about.show} on:close={modals.about.close} />

<style>
  @media (width > 75rem) {
    .page {
      margin-inline: auto;
      max-width: calc(75rem - 2 * var(--main-padding));
      width: 100%;
    }
  }

  @media (width > 120rem) {
    .page {
      max-width: calc(62.5vw - 2 * var(--main-padding));
    }
  }

  .settings-page :global(.mdc-select) {
    width: 100%;
  }

  .settings-page :global(.mdc-select__menu) {
    max-height: 50vh !important;
  }

  .settings-page :global(.mdc-deprecated-list-divider) {
    margin-block: 1rem;
  }

  .item {
    padding-inline: 16px;
  }
</style>
