<script>
  import Navbar from "./lib/components/Navbar.svelte";
  import Sidebar from "./lib/components/Sidebar.svelte";
  import Labels from "./lib/pages/Labels.svelte";
  import Note from "./lib/pages/Note.svelte";
  import NoteList from "./lib/pages/NoteList.svelte";
  import Settings from "./lib/pages/Settings.svelte";
  import { router } from "./lib/state/router";

  /* State */
  const routerPath = router.path;
</script>

<Sidebar />

<div class="layout">
  <main class="layout-content" id="main">
    {#if $routerPath.includes("#note_")}
      <Note />
    {:else if $routerPath.includes("#labels")}
      <Labels />
    {:else if $routerPath.includes("#settings")}
      <Settings />
    {:else}
      <NoteList />
    {/if}
  </main>

  <Navbar />
</div>

<style>
  .layout {
    display: inline-flex;
    flex-direction: column;
    width: 100vw;
  }

  .layout-content {
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 1;
    height: 0;
    overflow: auto;
    padding: var(--main-padding);
  }
</style>
