/* Reset */
p,
h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
}

a,
a:visited {
  color: unset !important;
  text-decoration: none;
}

body {
  font-family: "Ubuntu Regular";
}

/* Layout */

html {
  overflow: hidden;
}

:root {
  --main-padding: 12px;
}

#app {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

/* Typography */

:root {
  --text-xl: 1.75rem;
  --text-lg: 1.25rem;
  --text-md: 0.875rem;
  --text-sm: 0.75rem;
  --text-xs: 0.625rem;
}

.text-xl {
  font-size: var(--text-xl);
  line-height: 150%;
}

.text-lg {
  font-size: var(--text-lg);
  line-height: 150%;
}

.text-md {
  font-size: var(--text-md);
  line-height: 150%;
}

.text-sm {
  font-size: var(--text-sm);
  line-height: 150%;
}

.text-xs {
  font-size: var(--text-xs);
  line-height: 150%;
}

.italic {
  font-style: italic;
}

.text-opaque {
  opacity: 0.7;
}

.margin-center {
  margin-inline: auto;
}

:root {
  --mdc-typography-font-family: "Ubuntu Regular", "NotoSansGlagolitic";
}

/* Icons */
/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/material-icons.woff2) format("woff2");
}

@font-face {
  font-family: "Ubuntu Regular";
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/Ubuntu-Regular.ttf) format("TrueType");
}

@font-face {
  font-family: "NotoSansGlagolitic";
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/NotoSansGlagolitic.ttf) format("TrueType");
}

.material-icons {
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons";
  font-feature-settings: "liga";
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}

/* SMUI Overrides */

:root .smui-bottom-app-bar > .smui-bottom-app-bar__section:last-child {
  /* Chrome v87 does not support "justify-content: end;" */
  justify-content: flex-end;
}

/* Other */
.aussie {
  transform: rotateX(180deg);
}
.aussie p,
.aussie .mdc-button__label,
.aussie .mdc-chip,
.aussie .mdc-deprecated-list-item__text,
.aussie .mdc-select__menu .mdc-deprecated-list-item,
.aussie .mdc-select__selected-text,
.aussie .mdc-text-field__input,
.aussie .mdc-text-field-character-counter,
.aussie h1,
.aussie h2,
.aussie h3,
.aussie h4,
.aussie h5,
.aussie h6 {
  transform: rotateY(180deg);
}

.aussie .mdc-floating-label--float-above {
  transform: translateX(75%) translateY(-106%) scale(0.75) rotateY(180deg) !important;
}

.aussie .mdc-text-field .mdc-floating-label {
  transform: translateX(100%) translateY(-50%) rotateY(180deg);
}

.aussie .mdc-menu {
  height: fit-content !important;
  top: 100% !important;
}
