<script lang="ts">
  import Button, { Label } from "@smui/button";
  import Dialog, { Actions, Content, Title } from "@smui/dialog";
  import List, { Item, Text } from "@smui/list";
  import { createEventDispatcher } from "svelte";
  import { L } from "../utils/locales";

  /* State - props */
  export let open = false;

  /* State - local */
  const dispatch = createEventDispatcher();

  /* State - computed */
  $: developedBy = () =>
    $L.settings.developedBy.replace("{0}", "Matej Kolarević");

  /* Actions */
  function close() {
    dispatch("close");
  }
</script>

<Dialog
  bind:open
  aria-labelledby="modal-title"
  aria-describedby="modal-content"
>
  <Title id="modal-title">{$L.settings.about}</Title>

  <Content>
    <List>
      <Item
        tag="a"
        href="https://gitlab.com/mkolarevic/notebook-ubports/"
        rel="noopener noreferrer"
        target="_blank"
      >
        <Text class="text-md" tag="p">{developedBy()}</Text>
      </Item>
    </List>

    <List>
      <Item
        tag="a"
        href="https://svelte.dev/"
        rel="noopener noreferrer"
        target="_blank"
      >
        <Text class="text-md" tag="p">{$L.settings.poweredBySvelte}</Text>
      </Item>
    </List>

    <List>
      <Item
        tag="a"
        href="https://sveltematerialui.com/"
        rel="noopener noreferrer"
        target="_blank"
      >
        <Text class="text-md" tag="p">{$L.settings.componentLibrary}</Text>
      </Item>
    </List>
  </Content>

  <Actions>
    <Button on:click={close}>
      <Label>{$L.dialog.close}</Label>
    </Button>
  </Actions>
</Dialog>
