<script lang="ts">
  import Button, { Label } from "@smui/button";
  import Checkbox from "@smui/checkbox";
  import Dialog, { Actions, Content, Title } from "@smui/dialog";
  import List, { Item, Label as ListLabel, Meta } from "@smui/list";
  import Textfield from "@smui/textfield";
  import CharacterCounter from "@smui/textfield/character-counter";
  import { createEventDispatcher, onMount } from "svelte";
  import { NoteLabels, addLabel } from "../state/notes";
  import { L } from "../utils/locales";

  /* State - props */
  export let open = false;
  export let preSelected: string[] = [];
  /* State - local */
  const dispatch = createEventDispatcher();
  const maxLength = 30;
  let newLabel = "";
  let selected: string[] = [];

  /* Actions */
  function close() {
    dispatch("close");
  }
  function confirm() {
    addAndEnableLabel();
    dispatch("confirm", selected);
  }

  function addAndEnableLabel() {
    const _trimmedLabel = newLabel.trim();
    if (_trimmedLabel) {
      addLabel(_trimmedLabel);
      if (!selected.includes(_trimmedLabel)) {
        selected.push(_trimmedLabel);
      }
    }
    newLabel = "";
  }

  function _addLabel(e) {
    if (e?.code === "Enter" || e === undefined) {
      addAndEnableLabel();
    }
  }

  /* LCH */
  onMount(() => {
    selected.push(...preSelected);
  });
</script>

<Dialog
  bind:open
  aria-labelledby="modal-title"
  aria-describedby="modal-content"
>
  <Title id="modal-title">{$L.labelDialog.selectLabels}</Title>

  <Content>
    <Textfield
      bind:value={newLabel}
      label={$L.labelDialog.inputLabel}
      input$maxlength={maxLength}
      style="width: 100%;"
      helperLine$style="width: 100%;"
      on:keydown={_addLabel}
    >
      <svelte:fragment slot="helper">
        <CharacterCounter>0 / {maxLength}</CharacterCounter>
      </svelte:fragment>
    </Textfield>

    <List checkList>
      {#each $NoteLabels as label}
        <Item selected={selected.includes(label)}>
          <ListLabel>{label}</ListLabel>
          <Meta>
            <Checkbox
              bind:group={selected}
              checked={selected.includes(label)}
              value={label}
            />
          </Meta>
        </Item>
      {/each}
    </List>
  </Content>

  <Actions>
    <Button on:click={close}>
      <Label>{$L.dialog.close}</Label>
    </Button>
    <Button on:click={confirm}>
      <Label>{$L.dialog.confirm}</Label>
    </Button>
  </Actions>
</Dialog>
