<script lang="ts">
  import Button, { Label } from "@smui/button";
  import Paper, { Content, Subtitle, Title } from "@smui/paper";
  import { createEventDispatcher } from "svelte";

  /* State - props */
  export let title = "";
  export let content = "";
  export let action = "";

  /* State - local */
  const dispatch = createEventDispatcher();

  /* Actions */
  function dispatchAction() {
    dispatch("handleAction");
  }
</script>

<div class="blank-page">
  <Paper variant="outlined">
    <Title>{title}</Title>
    <Subtitle>{content}</Subtitle>
    {#if !!action}
      <Content>
        <Button on:click={dispatchAction} variant="raised">
          <Label>{action}</Label>
        </Button>
      </Content>
    {/if}
  </Paper>
</div>

<style>
  .blank-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-inline: auto;
    max-width: calc(100vw - 2 * var(--main-padding));
    width: calc(30rem - 2 * var(--main-padding));
  }

  .blank-page :global(.smui-paper--outlined) {
    height: 100%;
  }

  .blank-page :global(.smui-paper__title) {
    text-align: center;
  }

  .blank-page :global(.smui-paper__content) {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  @media (width > 30rem) {
    .blank-page {
      height: unset;
      margin-block: auto;
    }

    .blank-page :global(.smui-paper--outlined) {
      height: unset;
      min-height: 50vh;
    }
  }
</style>
