<script lang="ts">
  import Button, { Label } from "@smui/button";
  import Dialog, { Actions, Content, Title } from "@smui/dialog";
  import { createEventDispatcher } from "svelte";
  import { L } from "../utils/locales";

  /* State */
  export let title = "";
  export let content = "";
  export let open = false;
  const dispatch = createEventDispatcher();

  /* Actions */
  function cancel() {
    dispatch("cancel");
  }
  function confirm() {
    dispatch("confirm");
  }
</script>

<Dialog
  bind:open
  aria-labelledby="modal-title"
  aria-describedby="modal-content"
>
  <Title id="modal-title">{title}</Title>
  <Content id="modal-content">
    <p>{content}</p>
  </Content>
  <Actions>
    <Button on:click={cancel}>
      <Label>{$L.dialog.cancel}</Label>
    </Button>
    <Button on:click={confirm}>
      <Label>{$L.dialog.confirm}</Label>
    </Button>
  </Actions>
</Dialog>
