<script lang="ts">
  import Button, { Label } from "@smui/button";
  import Dialog, { Actions, Content, Title } from "@smui/dialog";
  import Textfield from "@smui/textfield";
  import CharacterCounter from "@smui/textfield/character-counter";
  import { createEventDispatcher } from "svelte";
  import { L } from "../utils/locales";

  /* State - props */
  export let open = false;
  export let editedLabel = "";

  /* State - local */
  const dispatch = createEventDispatcher();
  const maxLength = 30;
  let newLabel = "";

  $: isConfirmDisabled = () => {
    if (!newLabel || editedLabel?.trim() === newLabel?.trim()) {
      return true;
    }

    return false;
  };

  $: getTitle = () => {
    return `${$L.labelDialog.renameLabel} (${editedLabel})`;
  };

  /* Actions */
  function cancel() {
    dispatch("cancel");
  }
  function confirm() {
    dispatch("confirm", {
      oldValue: editedLabel.trim(),
      newValue: newLabel.trim(),
    });
  }

  /* Side-effects */
  $: if (editedLabel) {
    newLabel = editedLabel;
  }
</script>

<Dialog
  bind:open
  aria-labelledby="modal-title"
  aria-describedby="modal-content"
>
  <Title id="modal-title">{getTitle()}</Title>

  <Content>
    <Textfield
      bind:value={newLabel}
      label={$L.labelDialog.newLabelName}
      input$maxlength={maxLength}
      style="width: 100%;"
      helperLine$style="width: 100%;"
    >
      <svelte:fragment slot="helper">
        <CharacterCounter>0 / {maxLength}</CharacterCounter>
      </svelte:fragment>
    </Textfield>
  </Content>

  <Actions>
    <Button on:click={cancel}>
      <Label>{$L.dialog.cancel}</Label>
    </Button>
    <Button on:click={confirm} disabled={isConfirmDisabled()}>
      <Label>{$L.dialog.confirm}</Label>
    </Button>
  </Actions>
</Dialog>
