<script lang="ts">
  import { router } from "../state/router";

  /* State */
  export let href = "";

  /* Actions */
  function go(e?: KeyboardEvent | MouseEvent) {
    //@ts-expect-error TypeScript treachery
    if (e?.keyCode && ![13, 32].includes(e.keyCode)) {
      return;
    }
    router.setPath(href);
  }
</script>

<span class="link" tabindex="0" role="button" on:click={go} on:keyup={go}>
  <slot />
</span>

<style>
  .link {
    cursor: pointer;
  }
  .link :global(*) {
    cursor: pointer;
  }
</style>
