<script>
  import BottomAppBar, { Section } from "@smui-extra/bottom-app-bar";
  import Fab, { Icon as FabIcon } from "@smui/fab";
  import IconButton from "@smui/icon-button";
  import Textfield from "@smui/textfield";
  import { onDestroy, onMount } from "svelte";
  import { nav } from "../state/navbar";
  import { searchQuery } from "../state/notes";
  import { router } from "../state/router";
  import { isSidebarOpen } from "../state/sidebar";
  import { L } from "../utils/locales";
  import { wait } from "../utils/wait";

  /* State */
  const routerPath = router.path;
  const noteID = nav.noteID;
  let searchOpen = false;

  $: _getFab = () => {
    $routerPath;
    return nav.getFab();
  };
  $: isSearchablePath = () => {
    return ["", "#"].includes($routerPath);
  };

  let dropShadow;
  let searchBar;

  /* Actions */
  function openSidebar() {
    $isSidebarOpen = true;
  }

  async function openSearch() {
    searchOpen = true;
    await wait();
    try {
      dropShadow.children[0].control.focus();
    } catch (error) {}
  }

  function closeSearch(e) {
    if (typeof e === "undefined") {
      return;
    }
    if (e?.target === dropShadow || e?.code === "Enter") {
      searchOpen = false;
    }
  }

  function clearSearch() {
    $searchQuery = "";
  }

  function handleKeyDown(e) {
    // Escape key
    if ([e?.key, e?.code].includes("Escape")) {
      if (!searchOpen) {
        if ($isSidebarOpen) {
          $isSidebarOpen = false;
        } else {
          openSidebar();
          setTimeout(() => {
            document
              ?.getElementsByClassName("mdc-drawer__content")?.[0]
              ?.getElementsByClassName(
                "mdc-deprecated-list-item--selected"
              )?.[0]
              // @ts-ignore
              ?.focus();
          }, 0);
        }
      }
      closeSearch({ code: "Enter" });
    }

    // Search key
    if (isSearchablePath()) {
      if (e.keyCode === 114 || (e.ctrlKey && e.keyCode === 70)) {
        e.preventDefault();
        openSearch();
      }
    }
  }

  /* LCH */
  onMount(() => {
    window.addEventListener("keydown", handleKeyDown);
  });

  onDestroy(() => {
    $searchQuery = "";
    window.removeEventListener("keydown", handleKeyDown);
  });
</script>

<BottomAppBar variant="static" color="primary">
  <Section>
    <span class="action-wrapper">
      {#if !$routerPath.includes("#settings")}
        <IconButton class="material-icons" on:click={openSidebar}>
          menu
        </IconButton>

        {#if isSearchablePath()}
          <div class:hidden={searchOpen} class:search={!!$searchQuery}>
            <IconButton class="material-icons" on:click={openSearch}>
              search
            </IconButton>
          </div>
        {/if}
      {/if}
    </span>
  </Section>

  <Section fabInset>
    <Fab aria-label="Reply" on:click={_getFab().action}>
      <FabIcon class="material-icons">{_getFab().icon}</FabIcon>
    </Fab>
  </Section>
</BottomAppBar>

{#if !$noteID}
  <!-- svelte-ignore a11y-no-noninteractive-element-interactions -->
  <!-- svelte-ignore a11y-click-events-have-key-events -->
  <div
    class="search-wrapper"
    class:hidden={!searchOpen}
    on:click={closeSearch}
    role="dialog"
    bind:this={dropShadow}
  >
    <Textfield
      bind:value={$searchQuery}
      label={$L.navbar.search}
      variant="filled"
      style="width: 100%;"
      helperLine$style="width: 100%;"
      bind:this={searchBar}
      on:keydown={closeSearch}
    >
      <svelte:fragment slot="trailingIcon">
        <IconButton class="material-icons" on:click={clearSearch}>
          close
        </IconButton>
      </svelte:fragment>
    </Textfield>
  </div>
{/if}

<style>
  .action-wrapper {
    display: flex;
    gap: 12px;
  }
  .search-wrapper {
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    height: 100vh;
    position: absolute;
    top: 0px;
    width: 100vw;
    z-index: 1;
  }

  .search :global(.material-icons) {
    border-bottom: 2px solid white;
  }

  .hidden {
    display: none;
  }
</style>
