<script>
  import IconButton from "@smui/icon-button";
  import { createEventDispatcher } from "svelte";

  /* State */
  export let currentPage = 1;
  export let disabledButtons = {
    first() {
      return true;
    },
    before() {
      return true;
    },
    next() {
      return true;
    },
    last() {
      return true;
    },
  };
  const dispatch = createEventDispatcher();

  /* Actions */
  const page = {
    first() {
      dispatch("first");
    },
    before() {
      dispatch("before");
    },
    next() {
      dispatch("next");
    },
    last() {
      dispatch("last");
    },
  };
</script>

<nav class="pagination">
  <IconButton
    class="material-icons"
    on:click={page.first}
    disabled={disabledButtons.first()}
  >
    first_page
  </IconButton>

  <IconButton
    class="material-icons"
    on:click={page.before}
    disabled={disabledButtons.before()}
  >
    navigate_before
  </IconButton>

  <div class="pagination-indicator">
    {currentPage}
  </div>

  <IconButton
    class="material-icons"
    on:click={page.next}
    disabled={disabledButtons.next()}
  >
    navigate_next
  </IconButton>

  <IconButton
    class="material-icons"
    on:click={page.last}
    disabled={disabledButtons.last()}
  >
    last_page
  </IconButton>
</nav>

<style>
  .pagination {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 28px;
    margin-inline: auto;
    max-width: 20rem;
  }

  .pagination-indicator {
    align-items: center;
    display: flex;
  }
</style>
