<script lang="ts">
  import Button, { Label } from "@smui/button";
  import Dialog, { Actions, Content, InitialFocus, Title } from "@smui/dialog";
  import List, { Graphic, Item, Text } from "@smui/list";
  import Radio from "@smui/radio";
  import { createEventDispatcher, onMount } from "svelte";
  import { L } from "../utils/locales";

  /* Types */
  type OptionItem = {
    value: string;
    text: string;
  };

  /* State */
  export let title = "";
  export let open = false;
  export let options: OptionItem[] = [];
  export let description = "";

  let selection = "";

  /* Actions */
  const dispatch = createEventDispatcher();

  function cancel() {
    dispatch("cancel");
  }
  function confirm() {
    dispatch("confirm", selection);
  }

  /* LCH */
  onMount(() => {
    selection = options?.[0].value ?? "";
  });
</script>

<Dialog
  bind:open
  aria-labelledby="modal-title"
  aria-describedby="modal-content"
>
  <Title id="modal-title">{title}</Title>
  <Content id="modal-content">
    {#if !!description}
      <p>{description}</p>
    {/if}

    <Content id="list-selection-content">
      {#if options.length}
        <List radioList>
          {#each options as option}
            {#if option.value === options[0].value}
              <Item use={[InitialFocus]}>
                <Graphic>
                  <Radio bind:group={selection} value={option.value} />
                </Graphic>
                <Text>{option.text}</Text>
              </Item>
            {:else}
              <Item>
                <Graphic>
                  <Radio bind:group={selection} value={option.value} />
                </Graphic>
                <Text>{option.text}</Text>
              </Item>
            {/if}
          {/each}
        </List>
      {/if}
    </Content>
  </Content>
  <Actions>
    <Button on:click={cancel}>
      <Label>{$L.dialog.cancel}</Label>
    </Button>
    <Button on:click={confirm}>
      <Label>{$L.dialog.confirm}</Label>
    </Button>
  </Actions>
</Dialog>
