<script lang="ts">
  import Drawer, { Content, Header, Scrim } from "@smui/drawer";
  import IconButton from "@smui/icon-button";
  import List, { Graphic, Item, Separator, Subheader, Text } from "@smui/list";
  import { get } from "svelte/store";
  import { nav } from "../state/navbar";
  import {
    NotesList,
    deleteNote,
    exportNote,
    getNoteById,
    modifyNoteLabels,
    noteGroup,
    pinNote,
    searchQuery,
    toggleArchivedState,
  } from "../state/notes";
  import { router } from "../state/router";
  import {
    changeSortBy,
    changeSortOrder,
    inverseSortOrder,
    sortBy,
  } from "../state/settings";
  import { isSidebarOpen } from "../state/sidebar";
  import { L } from "../utils/locales";
  import type { NoteExportFormat } from "../utils/types";
  import AddLabelModal from "./AddLabelModal.svelte";
  import ConfirmModal from "./ConfirmModal.svelte";
  import SelectionDialog from "./SelectionDialog.svelte";

  /* State */
  const routerPath = router.path;

  const modals = {
    deleteOne: {
      show: false,
      confirm() {
        _deleteNote();
        modals.deleteOne.show = false;
      },
      cancel() {
        modals.deleteOne.show = false;
      },
      open() {
        modals.deleteOne.show = true;
      },
    },
    exportOne: {
      show: false,
      options: [
        {
          value: "json",
          text: "JSON",
        } as const,
        {
          value: "text",
          text: "Plain Text",
        } as const,
        {
          value: "markdown",
          text: "Markdown",
        } as const,
      ],
      confirm(e: { detail: NoteExportFormat }) {
        exportNote(e.detail, get(nav.noteID));
        modals.exportOne.show = false;
      },
      cancel() {
        modals.exportOne.show = false;
      },
      open() {
        modals.exportOne.show = true;
      },
    },
    manageLabel: {
      show: false,
      close() {
        modals.manageLabel.show = false;
      },
      open() {
        modals.manageLabel.show = true;
      },
      confirm(e: { detail: string[] }) {
        modifyNoteLabels(noteData(), e.detail);
        modals.exportOne.show = false;
      },
    },
  };

  $: getSortOrder = () => {
    if ($inverseSortOrder) {
      return {
        icon: "expand_less",
        text: `${$L.sidebar.sortOrder} (${$L.sidebar.sortOrderAsc})`,
      };
    }

    return {
      icon: "expand_more",
      text: `${$L.sidebar.sortOrder} (${$L.sidebar.sortOrderDesc})`,
    };
  };

  $: getSortBy = () => {
    let _p1 = $L.sidebar.sortBy;
    let _p2 = {
      createdAt: $L.sidebar.createdAt,
      updatedAt: $L.sidebar.updatedAt,
      viewedAt: $L.sidebar.viewedAt,
    }[$sortBy];

    return `${_p1} (${_p2})`;
  };

  $: noteData = () => {
    $NotesList;
    return getNoteById(get(nav.noteID));
  };

  /* Actions */
  function togglePinned() {
    pinNote(get(nav.noteID));
  }

  function _deleteNote() {
    deleteNote(get(nav.noteID));
    router.setPath("");
    $isSidebarOpen = false;
  }

  function _toggleArchivedState(isArchived: boolean) {
    toggleArchivedState(get(nav.noteID), isArchived);
  }

  function openAddLabelModal() {
    modals.manageLabel.show = true;
  }

  function removeLabel(label: string) {
    modifyNoteLabels(
      noteData(),
      noteData().labels.filter((_l) => _l !== label)
    );
  }

  function closeSidebar() {
    $isSidebarOpen = false;
  }
</script>

<Drawer variant="modal" bind:open={$isSidebarOpen}>
  <Header>
    <p class="text-xl margin-center">{$L.sidebar.menu}</p>
    <IconButton class="material-icons" on:click={closeSidebar}>
      close
    </IconButton>
  </Header>

  <Content>
    <List>
      <Item
        href="javascript:void(0)"
        on:click={() => {
          router.setPath("#settings");
          $isSidebarOpen = false;
        }}
      >
        <Graphic class="material-icons" aria-hidden="true">settings</Graphic>
        <Text class="text-md" tag="p">{$L.sidebar.settings}</Text>
      </Item>

      {#if $routerPath === "" || $routerPath.includes("#labels")}
        <Separator />

        <Subheader tag="p">{$L.sidebar.filter}</Subheader>

        <Item
          selected={$noteGroup === "notes" && !$routerPath.includes("#labels")}
          href="javascript:void(0)"
          on:click={() => {
            router.setPath("");
            $noteGroup = "notes";
            $isSidebarOpen = false;
          }}
        >
          <Graphic class="material-icons" aria-hidden="true">note</Graphic>
          <Text class="text-md" tag="p">{$L.sidebar.notes}</Text>
        </Item>

        <Item
          selected={$noteGroup === "archived" &&
            !$routerPath.includes("#labels")}
          href="javascript:void(0)"
          on:click={() => {
            router.setPath("");
            $noteGroup = "archived";
            $isSidebarOpen = false;
          }}
        >
          <Graphic class="material-icons" aria-hidden="true">drafts</Graphic>
          <Text class="text-md" tag="p">{$L.sidebar.archived}</Text>
        </Item>

        <Item
          selected={$routerPath.includes("#labels")}
          href="javascript:void(0)"
          on:click={() => {
            router.setPath("labels");
            $noteGroup = "notes";
            $searchQuery = "";
            $isSidebarOpen = false;
          }}
        >
          <Graphic class="material-icons" aria-hidden="true">label</Graphic>
          <Text class="text-md" tag="p">{$L.sidebar.labels}</Text>
        </Item>

        <Separator />

        <Subheader tag="p">{$L.sidebar.sort}</Subheader>

        <Item href="javascript:void(0)" on:click={changeSortBy}>
          <Graphic class="material-icons" aria-hidden="true">
            calendar_month
          </Graphic>
          <Text class="text-md" tag="p">{getSortBy()}</Text>
        </Item>

        <Item href="javascript:void(0)" on:click={changeSortOrder}>
          <Graphic class="material-icons" aria-hidden="true">
            {getSortOrder().icon}
          </Graphic>
          <Text class="text-md" tag="p">{getSortOrder().text}</Text>
        </Item>
      {/if}

      {#if $routerPath.includes("note_") && typeof noteData() !== "undefined"}
        <Separator />

        <Subheader tag="p">{$L.sidebar.manage}</Subheader>

        {#if noteData().archived}
          <Item
            href="javascript:void(0)"
            on:click={() => {
              _toggleArchivedState(false);
            }}
          >
            <Graphic class="material-icons" aria-hidden="true">
              unarchive
            </Graphic>
            <Text class="text-md" tag="p">{$L.sidebar.unarchive}</Text>
          </Item>
        {:else}
          <Item
            href="javascript:void(0)"
            on:click={() => {
              _toggleArchivedState(true);
            }}
          >
            <Graphic class="material-icons" aria-hidden="true">archive</Graphic>
            <Text class="text-md" tag="p">{$L.sidebar.archive}</Text>
          </Item>
        {/if}

        <Item href="javascript:void(0)" on:click={modals.exportOne.open}>
          <Graphic class="material-icons" aria-hidden="true">save</Graphic>
          <Text class="text-md" tag="p">{$L.sidebar.exportOne}</Text>
        </Item>

        <Item href="javascript:void(0)" on:click={modals.deleteOne.open}>
          <Graphic class="material-icons" aria-hidden="true">delete</Graphic>
          <Text class="text-md" tag="p">{$L.sidebar.delete}</Text>
        </Item>

        <Separator />

        <Subheader tag="p">{$L.sidebar.options}</Subheader>

        {#if !noteData()?.pinned}
          <Item href="javascript:void(0)" on:click={togglePinned}>
            <Graphic class="material-icons" aria-hidden="true">star</Graphic>
            <Text class="text-md" tag="p">{$L.sidebar.pin}</Text>
          </Item>
        {:else}
          <Item href="javascript:void(0)" on:click={togglePinned}>
            <Graphic class="material-icons" aria-hidden="true"
              >star_half</Graphic
            >
            <Text class="text-md" tag="p">{$L.sidebar.unpin}</Text>
          </Item>
        {/if}

        <Separator />

        <Subheader tag="p">{$L.sidebar.labels}</Subheader>

        <Item href="javascript:void(0)" on:click={openAddLabelModal}>
          <Graphic class="material-icons" aria-hidden="true">new_label</Graphic>
          <Text class="italic text-md" tag="p">{$L.sidebar.addLabel}</Text>
        </Item>

        {#each noteData().labels as label}
          <Item
            href="javascript:void(0)"
            on:click={() => {
              removeLabel(label);
            }}
          >
            <Graphic class="material-icons" aria-hidden="true">
              label_off
            </Graphic>
            <Text class="text-md" tag="p">{label}</Text>
          </Item>
        {/each}
      {/if}
    </List>
  </Content>
</Drawer>

<Scrim />

<ConfirmModal
  title={$L.sidebar.deleteSingleTitle}
  content={$L.sidebar.deleteSingleContent}
  open={modals.deleteOne.show}
  on:cancel={modals.deleteOne.cancel}
  on:confirm={modals.deleteOne.confirm}
/>

<SelectionDialog
  title={$L.sidebar.selectAFileFormat}
  open={modals.exportOne.show}
  options={modals.exportOne.options}
  description={$L.sidebar.exportOneDescription}
  on:cancel={modals.exportOne.cancel}
  on:confirm={modals.exportOne.confirm}
/>

{#if typeof noteData() !== "undefined" && modals.manageLabel.show}
  <AddLabelModal
    open={modals.manageLabel.show}
    preSelected={noteData().labels}
    on:close={modals.manageLabel.close}
    on:confirm={(e) => {
      modals.manageLabel.confirm(e);
    }}
  />
{/if}

<style>
  :global(.mdc-drawer) {
    min-width: 16rem;
  }
  :global(.mdc-drawer__header) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
</style>
